html {
  margin: 0;
  height: 100%;
  background-color: #ffeedd !important;
  position: relative;
  overflow: auto;
}
body {
  margin: 48px auto !important; /* Centers the body */
  width: 1200px;
  max-width: 95vw;
}
